
$white: #ffffff;
$black: #000000;
$primary-color: #46157a; 
$secondary-color: #FEA30C; 
$accent-color: #f5a623; 
$text-color: rgb(102, 17, 17); 
$background-light: #f8f8f8; 
$title-color: #F3F1D1; 

$hero-background: url(../images/hero/backgroundHero.png);
$solution-background: url(../images/solution/background.png);
$experience-background: url(../images/experience/background.png);
$contact-background: url(../images/contact/background.png);


